.heading-1 {
    display: flex;
    justify-content: center;
    font-family: 'serif';
}

header {
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
}

h1 {
    margin: 0;
    line-height: 1.5;
}

h2 {
    margin: 0;
    line-height: 1.3;
}

#name {
    color:#E7612A;
    font-size: xxx-large;
}


.top {
    display: flex;
    justify-content: center;
}

#logo {
    width: 5%;
    height: 8%;
    display: flex;
    position: absolute;
    right: 0;
    
}

#item1 {
    display: flex;
    justify-content: center;
}


.menu-options {
    display: flex;
    justify-content: space-between;
}

.pizza {
    display: flex;
    flex-direction: column;
    align-items: center;
}


.pizza-pic {
    width: 50%;
    height: 70%;
    border-radius: 10%;
}

body {
    background-color: #FFFFF0;
}

a {
    text-decoration: none;
    transition: color 0.3s ease-in;
}

a:visited { 
    color: grey; 
}

a:hover {
    color: #E7612A;
    text-decoration: underline;
}

.unique-pizza {
    width: 25%;
    border-radius: 10%;
}

p {
    font-size: 1.3rem;
}
.para {
    width: 60%;
    text-align: center;
}

.ingredients {
    position: absolute;
    left: 0;
}